<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270327375018-k6cg0f8f62ir4o8phrgmujpbcgi16n4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270327375018-k6cg0f8f62ir4o8phrgmujpbcgi16n4j</string>
	<key>API_KEY</key>
	<string>AIzaSyA5xB_hQBcuJhtBZBlJl4xK82zI3iTXhL8</string>
	<key>GCM_SENDER_ID</key>
	<string>270327375018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.receptApp</string>
	<key>PROJECT_ID</key>
	<string>foodly-dbed9</string>
	<key>STORAGE_BUCKET</key>
	<string>foodly-dbed9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270327375018:ios:0e5b63db467142f49cdcd3</string>
</dict>
</plist>